.footer__link {
	color: #ffffff;
	margin-right: 18px;
  margin: 0;
  padding: 0;
  text-decoration: none;
	transition: opacity 0.9s linear;

}

.footer__link:hover {
	opacity: 0.8;
}

/*.footer__link:nth-child(5n) {
	margin-right: 0;
}*/

/*@media screen and (max-width: 984px){
  .footer__link{
    margin-right: 5px;
  }
}*/
