.place__paragraph {
	max-width: 484px;
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
	align-self: start;
	margin: 0 auto;
}

.place__paragraph:nth-child(2n) {
	margin-top: 26px;
}

@media screen and (max-width: 1140px) {
	.place__paragraph {
		max-width: 456px;
	}
}

@media screen and (max-width: 984px) {
	.place__paragraph {
		max-width: 352px;
		font-size: 16px;
	}
}
@media screen and (max-width: 584px) {
	.place__paragraph {
		font-size: 14px;
	}
}

@media screen and (max-width: 568px) {
	.place__paragraph {
		max-width: 288px;
		font-size: 16px;
	}
}
